html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: lightgrey;
}

.row {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.column {
  flex: 1 1 33.33%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-col {
  flex-direction: column;
}

.profile-pic {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  display: block;
  border-radius: 100%;
}

.button {
  background-color: white;
  border: none;
  font-size: 32px;
  cursor: pointer;
  border-radius: 32px;
  margin: 24px 0;
  width: 75%;
  padding: 16px;
}

.button:hover {
  border: solid;
  border-color: black;
  border-width: 1px;
  box-shadow: 4px 4px;
  margin: 23px;         /* This offsets the border-width so they buttons stay in the same place */
}

.button-link {
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.link-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 52px;
  text-align: center;
}

p {
  font-size: 28px;
}

@media (max-width: 850px) {
  .row {
    flex-direction: column;
    height: 100vh;
    width: 100vw;
  }
  .column {
    flex: none;
    width: 100vw;
    max-width: 100vw;
    box-sizing: border-box;
    height: auto;
  }

  h1 {
    margin: 16px 0 8px;
    font-size: 32px;
  }

  p {
    margin: 8px;
    font-size: 24px;
  }

  .info-col {
    height: 30vh;
  }

  .photo-col {
    height: 30vh;
  }

  .link-col { 
    height: 40vh;
  }

  .button {
    margin: 8px;
  }
}